<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% include 'components/_styles.html' %}

</head>

<body>

<!--Spinner Start -->
{% include 'components/_spinner.html' %}
<!--Spinner End -->


<!-- Navbar start -->
{% include 'components/_navbar.html' %}
<!-- Navbar End -->


<!-- Modal Search Start -->
{% include 'components/_model_search.html' %}
<!-- Modal Search End -->


{% block hero %}
<!-- Hero Start -->
{% include 'components/_hero.html' %}
<!-- Hero End -->
{% endblock hero %}


{% block feature %}
<!-- Featurs Section Start -->
{% include 'components/_feature.html' %}
<!-- Featurs Section End -->
{% endblock feature %}


{% block login %}
<!-- Featurs Section Start -->
{% include '<components>
<_login></_login>.html' %}
<!-- Featurs Section End -->
{% endblock login %}


{% block main %}
{% endblock main %}


<!-- Footer Start -->
{% include 'components/_footer.html' %}
<!-- Footer End -->




{% include 'components/_scripts.html' %}

</body>

/* 

I built this login form to block the front end of most of my freelance wordpress projects during the development stage. 

This is just the HTML / CSS of it but it uses wordpress's login system. 

Nice and Simple

*/


</html>